server:
  port: 8080

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**

        - id: admin-user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/admin/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: "hfhdffghjmnzlkapoqwiurhjsnxmdnffhshdncmnssjhdjlkapqoiwuedcskjsd"
