server:
  port: 8080

spring:
  application:
    name: API-GATEWAY

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

JWT_SECRET_KEY: "qwertyuioplkjhgfdsazxcvbnmmkiuytrewasdfghjnbvcxzswergb"
